<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="storyboard.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Climate Shift</title>
</head>
<body>
    <!--Logout Nav Bar-->
    <header>
        <div class="navbar">
          <ul class="nav">
            <li class="item">
              <a href="#">Home</a>
            </li>
  
            <li class="item">
              <a href="#">Blog</a>
            </li>
  
            <li class="item">
              <button class = "login"><a href="#">Login</a></button>
            </li>
  
            <li class="item">
              <button class="sign-up"><a href="#">Sign Up Free</a></button>
            </li>
          </ul>
  
          <div class="logo">
            <img src="#"><img/>
          </div>
        </div>
      </header><hr><hr/>

      <aside class='sideNavBar'>
        <ul>
            <li><i class="fa-sharp fa-solid fa-angle-down"></i> &nbsp; Carnival
              <ul>
                <li>Party Theme</li>
              </ul>
            </li>  
              <Br><br/>
            <li><i class="fa-sharp fa-solid fa-angle-down"></i> &nbsp; Eventful</li><Br><br/>
            <li><i class="fa-sharp fa-solid fa-angle-down"></i> &nbsp; Party</li><Br><br/>
            <li><i class="fa-sharp fa-solid fa-angle-down"></i> &nbsp; Historical Sites</li><Br><br/>
        </ul>
    </aside>

      <main class="main-container-storyboard">
        <div class="banner">
            <h1>Unleash your creativity with Out Dey!</h1>
            <p>Don't wait any longer to bring your event to life.
                <br />
             Start designing now and make it unforgettable!</p>
            <button>Create an experience</button>
        </div>
        <div class="templates">
            <h3>Choose a template</h3>
            <br>
            <button class="add-template-button">
              <span>Add template</span>
              <i class="fas fa-plus"></i>
            </button>
            <br>
            <br>

            <div class="template-images">
              <div class="image-container">
                <img src="images/1.png" alt="Template 1" width = 300 height = 500 class = "img"/><img/>
                <button class="use-template-button">Use Template 
                  <i class="fas fa-plus"></i>
                </button>
              </div>  

              <div class="image-container">
                <img src="images/2.png" alt="Template 2" width = 300 height = 500 class = "img"/><img/>
                <button class="use-template-button">Use Template 
                  <i class="fas fa-plus"></i>
                </button>
              </div>  
              
              <div class="image-container">
                <img src="images/3.png" alt="Template 3" width = 300 height = 500 class = "img"/><img/>
                <button class="use-template-button">Use Template 
                  <i class="fas fa-plus"></i>
                </button>
              </div>  

              <div class="image-container">
                <img src="images/4.png" alt="Template 4" width = 300 height = 500 class = "img"/><img/>
                <button class="use-template-button">Use Template 
                  <i class="fas fa-plus"></i>
                </button>
              </div>  

              <div class="image-container">
                <img src="images/5.png" alt="Template 5" width = 300 height = 500 class = "img"/><img/>
                <button class="use-template-button">Use Template 
                  <i class="fas fa-plus"></i>
                </button>
              </div>  

              <div class="image-container">
                <img src="images/6.png" alt="Template 6" width = 300 height = 500 class = "img"/><img/>
                <button class="use-template-button">Use Template 
                  <i class="fas fa-plus"></i>
                </button>
              </div>  
              
                <img src=images/1.png alt="Template 1" width = 300 height = 500 class = "img"/><img/>
                <img src=images/2.png alt="Template 2" width = 300 height = 500 class = "img"/><img/>
                <img src=images/3.png alt="Template 3" width = 300 height = 500 class = "img"/><img/>
                <img src=images/4.png alt="Template 4" width = 300 height = 500 class = "img"/><img/>
                <img src=images/5.png alt="Template 5" width = 300 height = 500 class = "img"/><img/>
                <img src=images/6.png alt="Template 6" width = 300 height = 500 class = "img"/><img/>

                <img src="images/1.png" alt="Template 1" width = 300 height = 500 class = "img"/><img/>
                <img src="images/2.png" alt="Template 2" width = 300 height = 500 class = "img"/><img/>
                <img src=images/3.png alt="Template 3" width = 300 height = 500 class = "img"/><img/>
                <img src=images/4.png alt="Template 4" width = 300 height = 500 class = "img"/><img/>
                <img src=images/5.png alt="Template 5" width = 300 height = 500 class = "img"/><img/>
                <img src=images/6.png alt="Template 6" width = 300 height = 500 class = "img"/><img/>
            </div>
      </main>
      




      <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>credit</h4>
                    <ul>
                        <li><a href="#">aaron hazzard</a></li>
                        <li><a href="#">tyler bhagwandeen</a></li>
                        <li><a href="#">j'nubian chapman</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>

</body>


<script>
   $(document).ready(function() {
      $(window).on('scroll', function() {
        if (Math.round($(window).scrollTop()) > 100) {
          $('.navbar').addClass('scrolled');
        } else {
          $('.navbar').removeClass('scrolled');
        }
      });
    });
</script>
</html>