<!DOCTYPE html>
<html>
  <head>
    <title>For You Page</title>
    <link rel="stylesheet" href="../../../css/dashboard/new.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  </head>
  <body>
    <!--Navigation-->
    <nav class="navbar">
        <a href="#" class="logo">ATZ</a>
        <div class="search-bar">
          <input type="text" placeholder="Search..."><i class="fa fa-search"></i>
          <button type="submit" class="searchbtn">Search</button>
        </div>
        <ul class="nav-links">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#"><i class="fa fa-user"></i></a></li>
            <li><a href="#"><i class="fa fa-bell"></i></a></li>
            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
        </ul>
    </nav>
    <!--Dropdown-->
    <div class="dropdown">
        <div class="dropdown-header">
          <span>What's on your mind?</span>
          <i class="fas fa-caret-up"></i>
          <i class="fas fa-caret-down"></i>
        </div>
        <div class="dropdown-content">
          <form>
            <div>
                <textarea placeholder="Type your message here"></textarea>
            </div>        
            <button type="submit">Post</button>
            <i class="fas fa-paperclip"></i>
          </form>
          <i class="fas fa-caret-down"></i>
        </div>
      </div>
    <!--End of dropdown-->

    <!--TABS--> 
    <div class="tabbuttons">
        <div class="tabs">
            <button class="tab-btn active" data-tab="all">All</button>
            <button class="tab-btn" data-tab="parts">Events</button>
            <button class="tab-btn" data-tab="machines">Culinary</button>
        </div>
    </div>  
    
      
    <!--ALL-->
    <div id="all-tab" class="tab-content active">   
        <section class="post section-1">
          <div class="post-header">
            <img src="../../../imgs/avatar.jpg" alt="user profile picture">
            <div class="post-info">
              <h2>kevin_r868</h2>
              <p>2 hours ago</p>
            </div>
          </div>
          <div class="post-content">
            <p>Carnival 2K23!! </p>
            <img src="../../../imgs/carnival.jpg" alt="post image">
          </div>
          <div class="post-actions">
              <!--<a class="like-btn" href="#">
                  <i class="fa fa-heart"></i> Like
              </a>-->
              <button id="like-button" class="like-button">
                <i class="fa fa-heart"></i>
                <span class="like-count">100</span>
              </button>
              
            <button><i class="fa fa-comment"></i> Comment</button>
            <button><i class="fa fa-share"></i> Share</button>
          </div>
        </section>
        <section class="post section-2">
          <div class="post-header">
            <img src="https://via.placeholder.com/50x50" alt="user profile picture">
            <div class="post-info">
              <h2>Username</h2>
              <p>2 hours ago</p>
            </div>
          </div>
          <div class="post-content">
            <p>So loving this new Bunji tune!! <a href=""> #iaintcomeherefornostandup</a> !!</p>
          </div>
          <div class="post-actions">
              <a class="like-btn" href="#">
                  <i class="fa fa-heart"></i> Like
              </a>
            <button><i class="fa fa-comment"></i> Comment</button>
            <button><i class="fa fa-share"></i> Share</button>
          </div>
        </section>
        <section class="post section-3">
            <div class="post-header">
              <img src="../../../imgs/avatar.jpg" alt="user profile picture">
              <div class="post-info">
                <h2>kevin_r868</h2>
                <p>2 hours ago</p>
              </div>
            </div>
            <div class="post-content">
              <p>Carnival 2K23!! </p>
              <img src="../../../imgs/carnival.jpg" alt="post image">
            </div>
            <div class="post-actions">
                <a class="like-btn" href="#">
                    <i class="fa fa-heart"></i> Like
                </a>
              <button><i class="fa fa-comment"></i> Comment</button>
              <button><i class="fa fa-share"></i> Share</button>
            </div>
          </section>
          <section class="post section-3">
            <div class="post-header">
              <img src="../../../imgs/avatar.jpg" alt="user profile picture">
              <div class="post-info">
                <h2>kevin_r868</h2>
                <p>2 hours ago</p>
              </div>
            </div>
            <div class="post-content">
              <p>Carnival 2K23!! </p>
              <img src="../../../imgs/carnival.jpg" alt="post image">
            </div>
            <div class="post-actions">
                <a class="like-btn" href="#">
                    <i class="fa fa-heart"></i> Like
                </a>
              <button><i class="fa fa-comment"></i> Comment</button>
              <button><i class="fa fa-share"></i> Share</button>
            </div>
          </section>
    </div>


    <div id="parts-tab" class="tab-content">
        <section class="post">
            <div class="post-header">
              <img src="images/avatar2.jpg" alt="user profile picture">
              <div class="post-info">
                <h2>ricardoconstantine</h2>
                <p>5 hours ago</p>
              </div>
            </div>
            <div class="post-content">
              <p>Machel with the gals! #likeyuhself"</p>
              <img src="../../../imgs/girlsnight.jpg" alt="post image">
            </div>
            <div class="post-actions">
                <a class="like-btn" href="#">
                    <i class="fa fa-heart"></i> Like
                </a>
              <button><i class="fa fa-comment"></i> Comment</button>
              <button><i class="fa fa-share"></i> Share</button>
            </div>
          </section>
    </div>

      <!--Culinary-->
      <div id="machines-tab" class="tab-content">
          <section class="post">
              <div class="post-header">
                <img src="../../../imgs/avatar2.jpg" alt="user profile picture">
                <div class="post-info">
                  <h2>ricardoconstantine</h2>
                  <p>5 hours ago</p>
                </div>
              </div>
              <div class="post-content">
                <p>Richard's still have it boii...</p>
                <img src="../../../imgs/bakeandshark.jpg" alt="post image">
              </div>
              <div class="post-actions">
                  <a class="like-btn" href="#">
                      <i class="fa fa-heart"></i> Like
                  </a>
                <button><i class="fa fa-comment"></i> Comment</button>
                <button><i class="fa fa-share"></i> Share</button>
              </div>
            </section>
            <section class="post">
                <div class="post-header">
                  <img src="../../../imgs/avatar2.jpg" alt="user profile picture">
                  <div class="post-info">
                    <h2>ricardoconstantine</h2>
                    <p>5 hours ago</p>
                  </div>
                </div>
                <div class="post-content">
                  <p>Richard's still have it boii...</p>
                  <img src="../../../imgs/bakeandshark.jpg" alt="post image">
                </div>
                <div class="post-actions">
                    <a class="like-btn" href="#">
                        <i class="fa fa-heart"></i> Like
                    </a>
                  <button><i class="fa fa-comment"></i> Comment</button>
                  <button><i class="fa fa-share"></i> Share</button>
                </div>
              </section>
              <section class="post">
                <div class="post-header">
                  <img src="../../../imgs/avatar2.jpg" alt="user profile picture">
                  <div class="post-info">
                    <h2>ricardoconstantine</h2>
                    <p>5 hours ago</p>
                  </div>
                </div>
                <div class="post-content">
                  <p>Richard's still have it boii...</p>
                  <img src="../../../imgs/bakeandshark.jpg" alt="post image">
                </div>
                <div class="post-actions">
                    <a class="like-btn" href="#">
                        <i class="fa fa-heart"></i> Like
                    </a>
                  <button><i class="fa fa-comment"></i> Comment</button>
                  <button><i class="fa fa-share"></i> Share</button>
                </div>
              </section>
      </div>  
      <script src="new.js"></script>
  </body>
</html>
