.main-container-canva .flex-wrapper {
  display: flex;
  flex-direction: row;
}
.main-container-canva .flex-wrapper .sidenav {
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  width: 10%;
  height: 101.5vh;
  z-index: -1;
  padding-top: 8%;
  border-right: 1px solid black;
  margin-top: -3%;
}
.main-container-canva .flex-wrapper .sidenav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container-canva .flex-wrapper .sidenav ul li {
  margin-bottom: 20%;
  margin-right: 25%;
}
.main-container-canva .flex-wrapper .sidenav ul li button {
  border: none !important;
  background: transparent;
}
.main-container-canva .flex-wrapper .sidenav ul li button i {
  font-size: 2rem;
  background: transparent;
}
.main-container-canva .flex-wrapper .slider ul li {
  list-style-type: disc !important;
  margin-bottom: 10%;
}
.main-container-canva .flex-wrapper .canva {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  background-color: rgb(242, 244, 248);
}
.main-container-canva .flex-wrapper .canva .tools {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding-top: 5%;
  margin-bottom: 1%;
}
.main-container-canva .flex-wrapper .canva .tools ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1%;
  margin-left: -3%;
}
.main-container-canva .flex-wrapper .canva .tools ul li {
  border-right: 1px solid;
  padding-right: 2%;
  font-size: 0.7rem;
  cursor: pointer;
}
.main-container-canva .flex-wrapper .canva .paper {
  margin: 2% auto;
}
.main-container-canva .flex-wrapper .canva .paper img {
  height: 30rem;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}
.main-container-canva .flex-wrapper .canva .paper .corner-buttons {
  position: fixed;
  margin-left: 32%;
  width: 20%;
}
.main-container-canva .flex-wrapper .canva .paper .corner-buttons .zoom-buttons, .main-container-canva .flex-wrapper .canva .paper .corner-buttons .pages {
  box-shadow: 2px 5px 5px rgb(196, 194, 194);
}
.main-container-canva .flex-wrapper .canva .paper .corner-buttons .zoom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container-canva .flex-wrapper .canva .paper .corner-buttons .zoom .zoom-buttons {
  display: inline;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
}
.main-container-canva .flex-wrapper .canva .paper .corner-buttons .zoom .zoom-buttons .zoom-out, .main-container-canva .flex-wrapper .canva .paper .corner-buttons .zoom .zoom-buttons .zoom-in {
  width: 20%;
  height: 2rem;
  background-color: transparent;
  border: none;
}
.main-container-canva .flex-wrapper .canva .paper .corner-buttons .zoom .zoom-buttons .fit {
  font-size: 1.5rem;
  margin-left: 10%;
  margin-right: 10%;
}
.main-container-canva .flex-wrapper .canva .paper .corner-buttons .zoom .pages {
  margin-left: 10%;
  height: 100%;
  width: 40%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: 2.5rem;
  padding-top: 3%;
}/*# sourceMappingURL=canva.css.map */